@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #faf9f7;
  color: #1a1a1a;
}

::selection {
  background-color: #1a1a1a;
  color: #faf9f7;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
